<header class="d-flex flex-column align-items-center p-3">

    <div style="width: 100%; text-align: center; border: 2px solid black; padding: 5px; position: relative; margin-bottom: 20px;">
        <h5 style="margin: 0;">Task Manager</h5>
        <div style="position: absolute; top: 10px; left: 10px;">
            <div style="width: 20px; height: 20px; background-color: red; border-radius: 50%; display: inline-block; margin-right: 5px;"></div>
            <div style="width: 20px; height: 20px; background-color: yellow; border-radius: 50%; display: inline-block; margin-right: 5px;"></div>
            <div style="width: 20px; height: 20px; background-color: green; border-radius: 50%; display: inline-block;"></div>
        </div>
    </div>

    <div class="d-flex justify-content-between w-100 flex-wrap">
        <!-- Left side -->
         <div class="mb-2" style="margin-left: 20px;">
            <button type="button" class="btn btn-primary" style="width: 120px; height: 40px;">Create</button>
        </div>

        <!-- Right side -->
        <div class="d-flex mb-2" style="margin-right: 20px;">
            <input type="text" class="form-control" id="search" placeholder="search" style="margin-right: 10px; width: 400px;">
            <button type="button" class="btn btn-success ml-2" style="width: 120px">Search</button>
        </div>
    </div>

</header>   