{% extends "tasks/base.html"%}

{% block content %}

    <div class="container mt-4">
        <div class="card">
            <div class="card-headeer">
                Help Page
            </div>
            <div class="card-body">
                <h5 class="card-title">What is task manager?</h5>
                <p class="card-text">
                    A task manager system is software that helps users organize and track the progress of tasks.
                    <a href="/" class="btn btn-primary">Go Home</a>
                </p>
            </div>
        </div>
    </div>

{% endblock %}
