{% extends "tasks/base.html" %}

{% block content %}

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body text-center">
                    <h2 class="card-title">Password Reset Sucessful</h2>

                    <p class="card-text">
                        Your password hass been reset successfully. You can now log in using your new password.
                    </p>
                    <a href="{% url 'accounts:login'%}" class="btn btn-primary">
                        Login
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
